<template>
  <div class="ui stackable grid container">
    <UserSettingsMenu/>

    <div class="eight wide column">
      <div class="ui segment">
        <h2 class="ui dividing header">Edit Profile</h2>

        <Notification
          :message="notification.message"
          :type="notification.type"
          v-if="notification.message"
        />

        <form class="ui form" @submit.prevent="updateProfile">
          <div class="field" :class="{ error: errors.has('name') }">
            <label>Full Name</label>
            <input type="text" name="name" v-model="name" v-validate="'required'">
            <span v-show="errors.has('name')" class="is-danger">{{ errors.first('name') }}</span>
          </div>

          <div class="field">
            <label>Bio</label>
            <textarea v-model="bio" rows="5" placeholder="A brief bio of you"></textarea>
          </div>

          <div class="field">
            <label>Location</label>
            <input type="text" v-model="location" placeholder="Your location">
          </div>
          
          <button class="ui button primary">Update profile</button>
        </form>
      </div>
    </div>
  </div>
</template>
<script>
    import Notification from '@/components/Notification'
    import UserSettingsMenu from '@/components/User/Settings/UserSettingsMenu'

    export default {
      name: 'UserProfileSettings',
      components: {
        Notification,
        UserSettingsMenu
      },
      data () {
        return {
          name: '',        
          bio: '',
          location: '',
          notification: {
            message: '',
            type: ''
          }
        }
      },
      created () {
        // Get Token
        const token = localStorage.getItem('user_token')

        // Check 
        if (!token) {
          this.$router.push('/login')
        }
        // Get Auth User
        axios.get('account/me', {
          headers: {
            Authorization: `Bearer ${token}`
          }
        }).then(response => {
          this.name = response.data.data.name,      
          this.bio = response.data.data.bio,
          this.location = response.data.data.location
        })
      },
      methods: {
        updateProfile () {
           // Get Token
          const token = localStorage.getItem('user_token')

          axios.put('/account/me', {
            name: this.name,
            bio: this.bio,
            location: this.location
          },
          {
            headers: {
              Authorization: `Bearer ${token}`
            }
          })
          .then(response => {
            this.notification = Object.assign({}, this.notification, {
              message: response.data.message,
              type: response.data.status
            })
          })
          .catch(error => {
            if(error.status === 400) {
              this.notification.message = error.response.data[0].message
              this.notification.type = 'error'
            }
          })
        }
      }
    }
</script>