<template>
  <div class="ui stackable grid container">
    <UserSettingsMenu/>

    <div class="eight wide column">
      <div class="ui segment">
        <h2 class="ui dividing header">Change Password</h2>

        <Notification
          :message="notification.message"
          :type="notification.type"
          v-if="notification.message"
        />

        <form class="ui form" @submit.prevent="updatePassword">
          <div class="field" :class="{ error: errors.has('password') }">
            <label>Current Password</label>
            <input type="password" name="password" v-model="password" data-vv-as="current password" v-validate="'required'">
            <span v-show="errors.has('password')" class="is-danger">{{ errors.first('password') }}</span>
          </div>

          <div class="field" :class="{ error: errors.has('newPassword') }">
            <label>New Password</label>
            <input type="password" name="newPassword" v-model="newPassword" data-vv-as="new password" v-validate="'required'" ref="newPassword">
            <span v-show="errors.has('newPassword')" class="is-danger">{{ errors.first('newPassword') }}</span>
          </div>

          <div class="field" :class="{ error: errors.has('confirmPassword') }">
            <label>Confirm Password</label>
            <input type="password" name="confirmPassword" v-model="confirmPassword" data-vv-as="confirm password" v-validate="'required|confirmed:newPassword'">
            <span v-show="errors.has('confirmPassword')" class="is-danger">{{ errors.first('confirmPassword') }}</span>
          </div>

          <button type="submit" class="ui button primary" :disabled="!isFormValid">Change password</button>
        </form>
      </div>
    </div>
  </div>
</template>
<script>
    import Notification from '@/components/Notification'
    import UserSettingsMenu from '@/components/User/Settings/UserSettingsMenu'

    export default {
        name: 'UserPasswordSettings',
        components: {
            Notification,
            UserSettingsMenu
        },
        data () {
            return {
                password: '',
                newPassword: '',
                confirmPassword: '',
                notification: {
                    message: '',
                    type: ''
                }
            }
        },
        computed: {
            isFormValid() {
                return Object.keys(this.fields).every(key => this.fields[key].valid)
            }
        },
        created() {
            // Get Token
            const token = localStorage.getItem('user_token')
            if(!token) {
                this.$router.push('/login')
            }
        },
        methods: {
            updatePassword () {
                /// Get Token
                const token = localStorage.getItem('user_token')

                axios.patch('/account/me/update-password', {
                    password: this.password,
                    newPassword: this.newPassword,
                    // confirmPassword: this.confirmPassword
                },
                {
                    headers: {
                        Authorization: `Bearer ${token}`
                    }
                })
                .then(response => {
                    // this.clearInputs()
                    console.log(response)
                    this.notification.message = response.data.message
                    this.notification.type = response.data.status
                })
                .catch(error => {
                    if(error.status === 400) {
                        this.notification.message = error.response.data[0].message
                        this.notification.type = 'error'
                    }
                })
            },
            clearInputs() {
                this.password = '',
                this.newPassword = '',
                this.confirmPassword = ''
            }
        }
    }
</script>